/* CSS Document */
body {
  font-family: Arial, sans-serif;
background-color: lightgray;}

div#obal {
  max-width: 960px;
  margin: auto;
  border-width: 1px;
  padding: 20px;
  background-color: white;
  color: #030303;
}

nav {
  background-color: #222;
  margin: -20px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 1.1em;
  color: lightgray;
}

div#obal nav a {
  padding: 19px;
  text-decoration: none;  
  color: lightgray;
}


div#obal nav a:hover {
  color: white;
  background-color: rgb(0,153,204);
}

h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color:rgb(0,153,204);
  text-transform: uppercase;
  height: 2em;
}

h2, h3 {
  font-weight: 200; 
  line-height: 2em;
}

h2 {
  font-size: 1.6em;
  color: rgb(102,153,0);
}

h3 { 
  font-size: 1.2em;
  border-bottom: dotted 1px;
}

p, li {
  line-height: 1.5em;
  margin-top:1em;
  margin-bottom: 1em;
}

p {
  text-align: left;
}

li {
  list-style-type:square;
  list-style-position: outside;
  margin-left: 20px;
}

/* Nastavte pravidlo pro v�echny tu�n� a mod�e zv�razn�n� texty v odr�k�ch. */


div.poznamka{
border-left: 10px solid gray;
 padding-left: 50px;
 font-size: 90%;
 font-style: italic;
}

footer {
  color: gray;
  margin: 10px auto;
  text-align: center;
  font-size: 80%;
}

strong {
  font-weight: bold;
}
b {
  color: rgb(0,153,204);
  font-weight: bold;
}
mark{
  background-color: rgb(102,153,0);
  color: white;
}
abbr{
  text-decoration: underline red dotted;
}

/* Nastavte pravidla pro zna�ky vlo�en� do textu �vodn�ho odstavce,
   aby kone�n� vzheld textu odpov�dal p�edloze. */

